#meme-text {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  color: white;
}

#meme-image {
  width: 300px;
  height: 300px;
  position: absolute;
}

#meme-image-container {
  background-color: white;
  width: 350px;
  height: 350px;
  border: 1px solid black;
}

